.container_div {
    /* display: flex; */
    width: fit-content;
    flex: auto;
}

.square_div_column {
    display: flex;
    /* flex-shrink: 1; */
    border: 1px solid yellow;
    background-color: red;
    width: 32px;
}

.square_div_row {
    display: flex;
    border: 1px solid red;
    height: 32px;
    width: fit-content;
    flex-shrink: 1;
}

.square_div_column-touch {
    background-color: red;
    display: flex;
    border: 1px solid yellow;
    width: 32px;
}

button {
    margin-bottom: 35px;
    /* height: 20px;
    width: 20px; */
}